
/* RESET DASAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

/* HEADER & NAV */
header {
    background: #1714c9;
    color: #fff;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #00bcd4;
}

/* HERO SECTION */
#home {
    min-height: 90vh;
    background: linear-gradient(to right, #d70404, #08d3ee);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

#home h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

#home span {
    color: #02f7ff;
}

#home p {
    font-size: 18px;
    margin-bottom: 20px;
}


.hero-image img { width: 320px; height: auto; -webkit-mask-image: linear-gradient(to left, transparent, black 45%), linear-gradient(to bottom, transparent, black 25%); -webkit-mask-composite: intersect; mask-image: linear-gradient(to left, transparent, black 45%), linear-gradient(to bottom, transparent, black 25%); mask-composite: intersect; filter: drop-shadow(0 0 25px rgba(0,0,0,0.35)); }

#home a {
    width: fit-content;
    padding: 10px 20px;
    background: #fff;
    color: #f10707;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#home a:hover {
    background: #e0e0e0;
}

/* SECTION UMUM */
section {
    padding: 60px 40px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

/* ABOUT */
#about div {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#about p {
    max-width: 400px;
}


/* Galery */
#projects div {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    background: #fff;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

article h3 {
    margin-bottom: 10px;
}

article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}


/* CONTACT */
form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #2196f3;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

button:hover {
    background: #1976d2;
}

/* FOOTER */
footer {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #00bcd4;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    #home h1 {
        font-size: 32px;
    }
}
